<main>
  <button name="Action1" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action1.key }}</button>
  <button name="Action2" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action2.key }}</button>
  <button name="Action3" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action3.key }}</button>
  <button name="Action4" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action4.key }}</button>
  <button name="Action5" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action5.key }}</button>
  <button name="Action6" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action6.key }}</button>
  <button name="Action7" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action7.key }}</button>
  <button name="Action8" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action8.key }}</button>
</main>
<router-outlet></router-outlet>
