<main>
  <button name="Action1" (click)="handleActionButton($event)">
    {{ keyBindings.Action1 }}
  </button>
  <button name="Action2" (click)="handleActionButton($event)">
    {{ keyBindings.Action2 }}
  </button>
  <button name="Action3" (click)="handleActionButton($event)">
    {{ keyBindings.Action3 }}
  </button>
  <button name="Action4" (click)="handleActionButton($event)">
    {{ keyBindings.Action4 }}
  </button>
  <button name="Action5" (click)="handleActionButton($event)">
    {{ keyBindings.Action5 }}
  </button>
  <button name="Action6" (click)="handleActionButton($event)">
    {{ keyBindings.Action6 }}
  </button>
  <button name="Action7" (click)="handleActionButton($event)">
    {{ keyBindings.Action7 }}
  </button>
  <button name="Action8" (click)="handleActionButton($event)">
    {{ keyBindings.Action8 }}
  </button>
</main>
<router-outlet></router-outlet>
