<main>
  <button name="Action1" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action1 }}</button>
  <button name="Action2" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action2 }}</button>
  <button name="Action3" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action3 }}</button>
  <button name="Action4" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action4 }}</button>
  <button name="Action5" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action5 }}</button>
  <button name="Action6" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action6 }}</button>
  <button name="Action7" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action7 }}</button>
  <button name="Action8" class="action-button" (click)="handleActionButton($event)">{{ keyBindings.Action8 }}</button>
</main>
<router-outlet></router-outlet>
